altgraph==0.17.5
anyio==4.12.0
certifi==2025.11.12
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
notion-client==2.7.0
packaging==25.0
pyaes==1.6.1
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
PyQt6==6.10.0
PyQt6-Qt6==6.10.1
PyQt6_sip==13.10.2
Pyrogram==2.0.106
PySocks==1.7.1
python-dotenv==1.2.1
setuptools==80.9.0
TgCrypto==1.2.5
typing_extensions==4.15.0
PyQt6

